<div class="row">
  <div class="col-sm-12">
      <h1 class="main-title">CATALOGUE DES PRODUITS</h1>
  </div>
</div>
  <section class="row products" *ngIf="products != 0; else noProducts">
      <article class="col-sm-3 card_items" *ngFor="let product of products">
          <img class="image_product" src="{{ product.imageUrl }}" alt="">
          <p>Produit: {{product.nom}}</p>
          <p>Prix: € {{product.prix}}</p>
          <div class="div-inline">
              <div class="divbtn">
                  <div class="link">
                      <a href="#">
                          <button class="btn btn-primary glyph-manage" ><span class="glyphicon glyphicon-pencil"></span></button>
                      </a>
                  </div>
                  <button class="btn btn-primary glyph-manage" type="button"><span class="glyphicon glyphicon-trash"></span></button>
                  <input type="hidden" value="{{product._id}}" name="prodId">
              </div>
          </div>
      </article>
    </section>
<ng-template #noProducts>
    <h2>Vous ne pouvez modifier aucun produit - Ajouter un produit !!!</h2>
</ng-template>
